.searchContent input {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-weight: 600;
}

.searchContent button {
  font-weight: 600;
  padding: 5px 10px;
  outline: none;
  border: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.searchContent button:hover{
    transform: scale(1.1);
    transition: all 0.2s;
    cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  } 
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
