* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}

.wrapper-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}


.wrapper-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
